<div style="width: 990px;margin-top:10px;"><img src="/assets/about.png" /></div>

<div class="content clearfix">

  <div class="nleft">
    <h2 class="ntitle">加盟代理</h2>
    <ul class="nul">
      <% @jiamengs.each do |jiameng| %>
      <li <%= raw "class='actived'" if params[:id] == jiameng.id.to_s %>><a href="/jiameng/<%= jiameng.id %>"><%= jiameng.title %></a></li>
      <% end %>
      <li <%= raw "class='actived'" if controller_name == "shenqing" %> ><a href="/shenqing">申请加盟</a></li>
    </ul>
  </div>

  <div class="nright">
    
    <div class="bc"><span class="ch">Joining</span><span class="sch">加盟代理</span></div>
    
    <div class="wra">

      <% if  notice %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>操作提示</h4>
          <%= notice %>
        </div>
      <% end %>

      <%= render 'admin/shenqings/form' %>

    </div>

  </div>

</div>