<div class="row-fluid">

  <% if  notice %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>操作提示</h4>
      <%= notice %>
    </div>
  <% end %>

  <div>
     <a href="<%= new_admin_agent_path %>" class="btn btn-primary"><i class="icon-plus icon-white"></i> 添加</a>
  </div>
  <!-- block -->
  <div class="block">
      <div class="navbar navbar-inner block-header">
          <div class="muted pull-left">首页代理设置</div>         
      </div>
      <div class="block-content collapse in">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>公司名称</th>
                      <th width="120">省份</th>
                      <th width="210">操作</th>
                  </tr>
              </thead>
              <tbody>

                <% @agents.each do |agent| %>
                  <tr>
                    <td><%= agent.partner.name %></td>
                    <td><%= agent.region.region_name %></td>
                    <td>
                        <a href="<%= edit_admin_agent_path(agent) %>" class="btn btn-primary btn-mini"><i class="icon-pencil icon-white"></i> 编辑</a>
                        <a href="<%= admin_agent_path(agent) %>" rel="nofollow" data-method="delete" data-confirm="确定要删除吗？" class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> 删除</a>

                      <!--   
                        <%= link_to '预览', admin_agent_path(agent) %>
                        <%= link_to 'Edit', edit_admin_agent_path(agent) %>
                        <%= link_to 'Destroy', admin_agent_path(agent), method: :delete, data: { confirm: 'Are you sure?' } %> 
                      -->
                    </td>                   
                  </tr>
                <% end %>
              
              </tbody>
          </table>
      </div>
  </div>
  <!-- /block -->
</div>   



<%#= link_to '添加新闻', new_admin_agent_path %>
