<% if  notice %>
	<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>操作提示</h4>
  	<%= notice %>
	</div>
<% end %>

<p>
  <b>名称:</b>
  <%= @agent.name %>
</p>

<p>
  <b>所属省份:</b>
  <%= @agent.province.name %>
</p>


<p>
  <b>描述:</b>
  <%= raw @agent.description %>
</p>


<%= link_to '编辑', edit_admin_agent_path(@agent) %> |
<%= link_to '返回', admin_agents_path %>