<% content_for(:nav)  do %>
  <li>
    <a href="<%= admin_partners_path %>">加盟商</a><span class="divider">/</span>
  </li>
  <li>
  <li class="active"><%= @partner.name %></li> 
<% end %>

<%= simple_form_for [:admin, @partner] do |f| %>

  <fieldset>
   
    <% if @partner.errors.any? %>
      <div id="error_explanation">
        
        <div class="alert alert-error">
          <button class="close" data-dismiss="alert">&times;</button>
          <strong>错误!</strong> 
          <span>发生了<%= pluralize(@partner.errors.count, "") %>个错误！</span>
          <ul>
          <% @partner.errors.messages.each do |msg| %>
            <li><%= msg.last.first %></li>
          <% end %>
          </ul>
        </div>

      </div>
    <% end %>

    <% errors = @partner.errors.messages %>


    <%= f.label :盟友名称 %>    
    <%= f.text_field :name %>

    <%= f.label :店名 %>    
    <%= f.text_field :dianming %>

    <%= f.label :图片 %>
    <%= f.file_field :picture %>

    <%= f.label :面积 %>    
    <%= f.text_field :mianji %>

    <%= f.label :员工人数 %>    
    <%= f.text_field :renshu %>

    <%= f.label :特色项目 %>    
    <%= f.text_field :teshe %>
    
    <%= f.label :所属地区 %>
  
    <!-- <select name="">
      <option value="">1</option>
      <option value="">2</option>
    </select>  -->

    <%#= f.collection_select :region_id, Region.where(:parent_id => 0), :id, :region_name %>

    <% if f.object.nil? || f.object.new_record? %>
      
      <%= select_tag "sheng", 
        options_from_collection_for_select(Region.where(:parent_id => 0), "id", "region_name")%>
      <select id="shi">
      </select>
      <select id="xian" name="partner[region_id]">
      </select>

    <% else%>

      <select id="sheng">
        <% Region.where(:parent_id => 0).each do |region| %>
          <option <% if region.id == @partner.region.parent.parent.id %>selected<% end %>  value="<%= region.id %>"><%= region.region_name %></option>
        <% end %>      
      </select>
      <select id="shi">
        <% @partner.region.parent.parent.children.each do |region| %>
          <option <% if region.id == @partner.region.parent.id %>selected<% end %>  value="<%= region.id %>"><%= region.region_name %></option>
        <% end %>      
      </select>
      <select id="xian" name="partner[region_id]">
        <% @partner.region.parent.children.each do |region| %>
          <option <% if region.id == @partner.region.id %>selected<% end %>  value="<%= region.id %>"><%= region.region_name %></option>
        <% end %>
      </select>

    <% end %> 
    
    <br>  

    <%= f.label :描述 %>
    <%= f.ueditor_text :description %>
      <span style="color:#f60;"><%= "#{errors[:description].first}" if errors[:description] %></span>

    <%= f.submit '确定' %>

  </fieldset>
<% end %>
