<% content_for(:nav)  do %>
<li>
  <a href="<%= admin_partners_path %>">加盟商</a>
  <span class="divider">/</span>
</li>
<% end %>

<div class="row-fluid">

  <div>
     <a href="<%= new_admin_partner_path %>" class="btn btn-primary"><i class="icon-plus icon-white"></i> 添加</a>
  </div>
  <!-- block -->
  <div class="block">
      <div class="navbar navbar-inner block-header">
          <div class="muted pull-left">加盟商</div>         
      </div>
      <div class="block-content collapse in">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th width="66">缩略图</th>
                      <th>盟友名称</th>
                      <th width="60">面积</th>
                      <th width="60">员工人数</th>
                      <th width="180">地区</th>
                      <th width="50">推荐</th>
                      <th width="180">操作</th>
                  </tr>
              </thead>
              <tbody>

                <% @partners.each do |partner| %>
                  <tr>
                    <td>
                      <div style="overflow:hidden;width:60px;"><img style="width: 60px; height: 60px;" src="<%= partner.picture %>"></div>
                    </td>
                    <td><%= partner.name %></td>
                    <td><%= partner.mianji %></td>
                    <td><%= partner.renshu %></td>
                    <td><%= "#{partner.region.parent.parent.region_name} #{partner.region.parent.region_name} #{partner.region.region_name}" %></td>
                    <td><%= partner.recommended_name %></td>
                    <td>
                        <a href="<%= admin_partner_path(partner) %>" class="btn btn-mini"><i class="icon-eye-open"></i> 浏览</a>
                        <a href="<%= edit_admin_partner_path(partner) %>" class="btn btn-primary btn-mini"><i class="icon-pencil icon-white"></i> 编辑</a>
                        <a href="<%= admin_partner_path(partner) %>" rel="nofollow" data-method="delete" data-confirm="确定要删除吗？" class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> 删除</a>
                    </td>                   
                  </tr>
                <% end %>
              
              </tbody>
          </table>
      </div>
  </div>
  <!-- /block -->
</div>   
