<% content_for(:nav)  do %>
  <li>
    <a href="<%= admin_articles_path %>">新闻资讯</a><span class="divider">/</span>
  </li>
  <li>
  <li class="active"><%= @article.title %></li> 
<% end %>


<%= form_for [:admin, @article] do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      
      <div class="alert alert-error">
        <button class="close" data-dismiss="alert">&times;</button>
        <strong>错误!</strong> 
        <span>发生了<%= pluralize(@article.errors.count, "") %>个错误！</span>
        <ul>
        <% @article.errors.messages.each do |msg| %>
          <li><%= msg.last.first %></li>
        <% end %>
        </ul>
      </div>

    </div>
  <% end %>

  <% errors = @article.errors.messages %>

  <div class="field">
    <span>
      <%#= f.text_field :title %>
      <input type="text" name="article[title]" value="<%= @article.title %>" />
    </span>
    <span style="color:#f60;"><%= "#{errors[:title].first}" if errors[:title] %></span>
  </div>

  <div class="field">
    推荐到首页:<%= f.check_box :recommended, :checked => true %>
    <span style="color:#f60;"><%= "#{errors[:recommended].first}" if errors[:recommended] %></span>
  </div>

  <div class="field">
    状态：<%= f.check_box :state, :checked => true %>启用
  </div>

  <div class="field">
    <%= f.label :新闻内容 %>
    <%= f.ueditor_text :content %>
    <span style="color:#f60;"><%= "#{errors[:content].first}" if errors[:content] %></span>
  </div>

  <div class="actions">
    <%= f.submit "确 定" %>
  </div>
<% end %>
