<p id="notice"><%= notice %></p>

<p>
  <b>模块名称:</b>
  <%= @article.title %>
</p>

<p>
  <b>状态:</b>
  <%= @article.state_name %>
</p>

<p>
  <b>链接地址:</b>
  <%= raw @article.content %>
</p>


<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_article_path %>