<% title "厦门车快美汽车服务有限公司|车快美总部" %>
<% description "厦门车快美汽车服务有限公司，是国内首家具备汽车表面护理德国最新技术和原材料、独特技术和完善服务体系的高新技术企业。公司致力于引进国际汽车后服务同行的领先技术和原材料，研究和推广最新产品和工艺，并协同全国代理商，为国内广大汽车快修和养护机构提供先进、独特的技术、产品、工艺和项目。" %>
<% keywords "环氧免腻漆面修复,中度划痕极速修复,红外线漆面硬化,高分子玻璃疏水,玻璃坑洞极速修复,车身凹坑极速修复,车内长效除雾,车漆养护,发动机养护理,汽车保养,汽车美容加盟连锁店" %>
<% content_for :head do %>
<link href="/resource/jquery.vector-map.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .pic_auto{width: 284px;height: 162px; overflow: hidden;display: block;}
</style>
<script src="/resource/jquery.vector-map.js" type="text/javascript"></script>
<script src="/resource/china-zh.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // var dataStatus = [{ cha: 'HKG', name: '香港', des: '<br/>无活动点' },
        //                  { cha: 'GUD', name: '广东', des: '<br/>无活动点'}];
        var dataStatus = [];
         <% @agents.each do |agent|  %>
            dataStatus.push({ cha: '<%= agent[:cha] %>', name: '<%= agent[:name] %>', 
                              des: '<%= raw agent[:desc] %>', id: '<%= agent[:id] %>' });
         <% end %>

        $('#container').vectorMap({ map: 'china_zh',
            color: "#2286b4", //地图颜色
            onLabelShow: function (event, label, code) {//动态显示内容
                $.each(dataStatus, function (i, items) {
                    if (code == items.cha) {
                        label.html( "<div id=" + items.id + "style='padding:8px;min-width:120px;'><span style='color:#f60;font-size:12px;'>" + items.name + "</span>" + "<br>" + items.des
                             +"</div>"
                        );
                    }
                });
            },
            onRegionClick: function(event, code){
                window.location = "/partners/code/" + code
            }
        });

        $('#container').vectorMap('set', 'colors', {FUJ: "#00FF00"});
        $('#container').vectorMap('set', 'colors', {NMG: "#4a9fc5"});
        $('#container').vectorMap('set', 'colors', {GUI: "#4a9fc5"});

        $.each(dataStatus, function (i, items) {
            if (items.des.length > 0 ) {//动态设定颜色，此处用了自定义简单的判断
                var josnStr = "{" + items.cha + ":'#00FF00'}";
                $('#container').vectorMap('set', 'colors', eval('(' + josnStr + ')'));
            }
        });

        $('.jvectormap-zoomin').click(); //放大

        $("#container").animate({"margin-left":"0px"}, "slow", "easeOutBounce");

    });
</script>
<% end %>

<div class="mapwrap">
    <div class="map">
        <div id="container"></div>
    </div>
</div>

<div class="content clearfix">
    <div class="le">
        <div class="title">
            <span class="hh"><a href="/news">企业新闻</a></span>
            <span class="more"><a href="/news"> >>更多</a></span>
        </div>
        <div class="box">
            <div class="focus">
                <a href="<%= @indexsets.at(9).url %>" target="_blank"><img width="305" height="183" src="<%= @indexsets.at(9).picture %>" /></a>
            </div>
            <div class="txtz">
                <ul> 
                    <% @allnews.each do |news| %>
                      <li><span class="view1"><%= news.pulishdate.strftime(("%Y-%m-%d")) %></span><a href="/news/<%= news.id %>"><%= news.title %></a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>

    <div class="ri">
        <div class="video">
            <embed src="<%= @indexsets.at(1).url %>" allowFullScreen="true" quality="high" width="290" height="230" align="middle" allowScriptAccess="always" wmode="transparent" type="application/x-shockwave-flash"></embed>
        </div>
    </div>
</div>

<div class="content clearfix">
    <div class="le">
        <div class="title">
            <span class="hh"><a href="/zs">招商政策</a></span>
            <span class="more"><a href="/zs"> >>更多</a></span>
        </div>
        <div class="box">
            <div class="txtz">
                <ul> 
                    <% @zhaoshangs.each do |zhaoshang| %>
                      <li><span class="view"><%= zhaoshang.view %></span><a href="/zs/<%= zhaoshang.id %>">[招商政策] - <%= zhaoshang.title %></a></li>
                    <% end %>
                </ul>
            </div>
            <div class="focus">
                <img width="305" height="183" src="<%= @indexsets.first.picture %>" />
            </div>
        </div>
    </div>
    <div class="ri">

        <div class="vs">
            <div class="vbs">加盟代理</div>
            <ul>
                <li>
                    <a href="<%= @indexsets.at(2).url %>">
                        <%= @indexsets.at(2).title %>
                    </a>
                </li>
                <li>
                    <a href="<%= @indexsets.at(3).url %>">
                        <%= @indexsets.at(3).title %>
                    </a>
                </li>
                <li>
                    <a href="<%= @indexsets.at(4).url %>">
                        <%= @indexsets.at(4).title %>
                    </a>
                </li>
                <li>
                    <a href="<%= @indexsets.at(5).url %>">
                        <%= @indexsets.at(5).title %>
                    </a>
                </li>
            </ul>

        </div>

    </div>

    <div class="clearfix">
        <div class="title" style="margin-top:15px;">
            <span class="hh"><a href="/service">服务项目</a></span>
            <span class="more"><a href="/service"> >>更多</a></span>
        </div>
        <div class="box" id="product">

            <div class="sm">
                <%= @indexsets.at(8).title %>
            </div>
            <div class="tp clearfix">
                <ul class="ani clearfix">
                    <% @services.each do |product| %>
                    <li>
                        <div class="name"><%= link_to product.prodname, service_path(product) %></div>
                        <%= link_to image_tag(product.picture, :width => 284, :class => "pic_auto"), service_path(product) %>                   
                    </li>
                    <% end %>
                </ul> 
            </div>
        </div>
    </div>


</div>
<div class="content clearfix">
    <div class="le">
        <div class="title" id="pro">
            <span class="hh"><a href="/service">产品展示</a></span>
            <span class="more"><a href="/service"> >>更多</a></span>
        </div>
        <div class="box" id="services">

            <div class="sm">
                <%= @indexsets.last.title %>
            </div>
            <div class="tp clearfix">
                <ul class="ani clearfix">
                    <% @products.each do |product| %>
                    <li>
                        <div class="name"><%= link_to product.prodname, service_path(product) %></div>
                        <%= link_to image_tag(product.picture, :width => 284, :height => 162), service_path(product) %>                   
                    </li>
                    <% end %>
                </ul> 
            </div>
            <div class="pre"><img src="<%= asset_path "left.png" %>" /></div>
            <div class="next"><img src="<%= asset_path "right.png" %>" /></div>
        </div>

    </div>

    <div class="ri">

        <div class="vs">


            <div class="vbs">极速快修</div>
            <img height="272" width="272" style="margin:8px;" src="<%= @indexsets.at(6).picture %>" />
        </div>

    </div>


    <div class="fc clearfix">
        <div class="title" id="pro">
            <span class="hh"><a href="/partners">盟友风采</a></span>
            <span class="more"><a href="/partners"> >>更多</a></span>
        </div>
        <div id="my" class="clearfix">
           
            <% @partners.each do |partner| %>
            <div class="meng">
                <a href="<%= partner_path(partner) %>"><img src="<%= partner.picture %>" /></a>
                <div><span class="dm">店名：</span><a href="<%= partner_path(partner) %>"><%= partner.dianming %></a></div>
            </div>
           <% end %>

        </div>
    </div>
</div>


<% if @indexsets.at(11).try(:url) %>
    <div class="ad1">   
        <a href="<%= @indexsets.at(11).url %>"><%= image_tag(@indexsets.at(11).picture) if @indexsets.at(11).picture %> </a>
        <div class="clos">关闭</div>
    </div>
<% end %> 

<% if @indexsets.at(12).try(:url) %>
    <div class="ad2">   
        <a href="<%= @indexsets.at(12).url %>"><%= image_tag(@indexsets.at(12).picture) if @indexsets.at(12).picture %> </a>
        <div class="clos">关闭</div>
    </div>
<% end %> 
    
<div class="online">
    <% @qqs.each do |qq| %>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=<%= qq.number %>&site=qq&menu=yes"><%= qq.bz %></a>
    <% end %>   
    <div class="gotop">Top</div>
</div>

<script> 
    $(function(){
        $(".clos").click(function(){
            $(".ad1,.ad2").hide();
        });
        $(window).bind("scroll", function(){
            if (!window.XMLHttpRequest) {
                var st = $(document).scrollTop(), winh = $(window).height();
                $(".online").css("top", st + winh - 320);    
            }
        });
        $(".gotop").click(function(){
            $("html, body").animate({ scrollTop: 0 }, 120);
        });
    });
</script> 