<% content_for :head do %>
<link href="/resource/jquery.vector-map.css" rel="stylesheet" type="text/css" />
<script src="/resource/jquery.vector-map.js" type="text/javascript"></script>
<script src="/resource/china-zh.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // var dataStatus = [{ cha: 'HKG', name: '香港', des: '<br/>无活动点' },
        //                  { cha: 'GUD', name: '广东', des: '<br/>无活动点'}];
        var dataStatus = [];
         <% @agents.each do |agent|  %>
            dataStatus.push({ cha: '<%= agent[:cha] %>', name: '<%= agent[:name] %>', 
                              des: '<%= raw agent[:desc] %>' });
         <% end %>

        $('#container').vectorMap({ map: 'china_zh',
            color: "#2286b4", //地图颜色
            onLabelShow: function (event, label, code) {//动态显示内容
                $.each(dataStatus, function (i, items) {
                    if (code == items.cha) {
                        label.html( "<div style='padding:8px;min-width:120px;'><span style='color:#f60;font-size:12px;'>" + items.name + "</span>" + "<br>" + items.des
                             +"</div>"
                        );
                    }
                });
            },
            onRegionClick: function(){
                window.location = "";
            }
        });

        $('#container').vectorMap('set', 'colors', {FUJ: "#00FF00"});
        $('#container').vectorMap('set', 'colors', {NMG: "#4a9fc5"});
        $('#container').vectorMap('set', 'colors', {GUI: "#4a9fc5"});

        $.each(dataStatus, function (i, items) {
            if (items.des.indexOf('个') != -1) {//动态设定颜色，此处用了自定义简单的判断
                var josnStr = "{" + items.cha + ":'#00FF00'}";
                $('#container').vectorMap('set', 'colors', eval('(' + josnStr + ')'));
            }
        });

        $('.jvectormap-zoomin').click(); //放大

        $("#container").animate({"margin-left":"0px"}, "slow", "easeOutBounce");

    });
</script>
<% end %>

<div class="mapwrap">
    <div class="map">
        <div id="container"></div>
    </div>
</div>

<div class="content clearfix">
    <div class="le">
        <div class="title">
            <span class="hh"><a href="">招商政策</a></span>
            <span class="more"><a href=""> >>更多</a></span>
        </div>
        <div class="box">
            <div class="focus">
                <img width="305" height="183" src="<%= @indexsets.first.picture %>" />
            </div>
            <div class="txtz">
                <ul> 
                    <% @zhaoshangs.each do |zhaoshang| %>
                      <li><a href="/zs/<%= zhaoshang.id %>">[招商政策] - <%= zhaoshang.title %></a></li>
                    <% end %>
                </ul>
            </div>
        </div>

        <div class="title" id="pro">
            <span class="hh"><a href="">服务项目</a></span>
            <span class="more"><a href=""> >>更多</a></span>
        </div>
        <div class="box" id="services">

            <div class="sm">
                <%= @indexsets.last.title %>
            </div>
            <div class="tp clearfix">
                <ul class="ani clearfix">
                    <% @products.each do |product| %>
                    <li>
                        <div class="name"><%= link_to product.prodname, admin_product_path(product) %></div>
                        <img width="284" height="162" src="<%= product.picture %>">                      
                      
                    </li>
                    <% end %>
                </ul> 
            </div>
            <div class="pre"><img src="<%= asset_path "left.png" %>" /></div>
            <div class="next"><img src="<%= asset_path "right.png" %>" /></div>
        </div>

    </div>

    <div class="ri">
        <div class="video">
            <embed src="<%= @indexsets.at(1).url %>" allowFullScreen="true" quality="high" width="290" height="220" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
        </div>

        <div class="vs">
            <div class="vbs">加盟代理</div>
            <ul>
                <li>
                    <a href="<%= @indexsets.at(2).url %>">
                        <%= @indexsets.at(2).title %>
                    </a>
                </li>
                <li>
                    <a href="<%= @indexsets.at(3).url %>">
                        <%= @indexsets.at(3).title %>
                    </a>
                </li>
                <li>
                    <a href="<%= @indexsets.at(4).url %>">
                        <%= @indexsets.at(4).title %>
                    </a>
                </li>
                <li>
                    <a href="<%= @indexsets.at(5).url %>">
                        <%= @indexsets.at(5).title %>
                    </a>
                </li>
            </ul>

            <div class="vbs">极速快修</div>
            <img height="166" width="272" style="margin:8px;" src="<%= @indexsets.at(6).picture %>" />
        </div>

    </div>

    <div class="fc clearfix">
        <div class="title" id="pro">
            <span class="hh"><a href="">盟友风采</a></span>
            <span class="more"><a href=""> >>更多</a></span>
        </div>
        <div id="my" class="clearfix">
           
            <% @partners.each do |partner| %>
            <div class="meng">
                <a href="<%= partner_path(partner) %>"><img src="<%= partner.picture %>" /></a>
                <div><span class="dm">店名：</span><a href="<%= partner_path(partner) %>"><%= partner.dianming %></a></div>
            </div>
           <% end %>

        </div>
    </div>
</div>

<div class="ad1">
    <img src="/assets/s1.jpg">
    <div class="clos">关闭</div>
</div>
<div class="ad2">
    <img src="/assets/s2.jpg">
    <div class="clos">关闭</div>
</div>

<script> 

var Rimifon = { 
"Ads" : new Object, 
"NewFloatAd" : function(imgUrl, strLink) 
{ 
var ad = document.createElement("a"); 
ad.DirV = true; 
ad.DirH = true; 
ad.AutoMove = true; 
ad.Image = new Image; 
ad.Seed = Math.random(); 
ad.Timer = setInterval("Rimifon.Float(" + ad.Seed + ")", 50); 
this.Ads[ad.Seed] = ad; 
ad.Image.Parent = ad; 
ad.style.position = "absolute"; 
ad.style.left = 0; 
ad.style.top = 0; 
ad.Image.src = imgUrl; 
ad.Image.onmouseover = function(){this.Parent.AutoMove = false;} 
ad.Image.onmouseout = function(){this.Parent.AutoMove = true;} 
if(strLink) 
{ 
ad.href = strLink; 
ad.Image.border = 0; 
ad.target = "_blank"; 
} 
ad.appendChild(ad.Image); 
document.body.appendChild(ad); 
return ad; 
}, 
"Float" : function(floatId) 
{ 
var ad = this.Ads[floatId]; 
if(ad.AutoMove) 
{ 
var curLeft = parseInt(ad.style.left); 
var curTop = parseInt(ad.style.top); 
if(ad.offsetWidth + curLeft > document.body.clientWidth + document.body.scrollLeft - 1) 
{ 
curLeft = document.body.scrollLeft + document.body.clientWidth - ad.offsetWidth; 
ad.DirH = false; 
} 
if(ad.offsetHeight + curTop > document.body.clientHeight + document.body.scrollTop - 1) 
{ 
curTop = document.body.scrollTop + document.body.clientHeight - ad.offsetHeight; 
ad.DirV = false; 
} 
if(curLeft < document.body.scrollLeft) 
{ 
curLeft = document.body.scrollLeft; 
ad.DirH = true; 
} 
if(curTop < document.body.scrollTop) 
{ 
curTop = document.body.scrollTop; 
ad.DirV = true; 
} 
ad.style.left = curLeft + (ad.DirH ? 1 : -1) + "px"; 
ad.style.top = curTop + (ad.DirV ? 1 : -1) + "px"; 
} 
} 
} 

    $(function(){
        $(".clos").click(function(){
            $(".ad1,.ad2").hide();
        });
    });

</script> 

<script> 
// Rimifon.NewFloatAd("http://www.jb51.net/images/logo.gif", "http://www.baidu.com"); 
var ad = Rimifon.NewFloatAd("<%= "#{root_url}assets/building.jpg/" %>"); 
ad.style.left = 500; 
ad.style.top = 456; 
ad.Image.width = 150; 
ad.Image.height = 150; 
ad.style.zindex = 999999;
</script> 