<% content_for(:nav)  do %>
  <li>
    <a href="<%= admin_qqs_path %>">在线QQ</a>
  </li> 
<% end %>

<div class="row-fluid">

  <div>
     <a href="<%= new_admin_qq_path %>" class="btn btn-primary"><i class="icon-plus icon-white"></i> 添加QQ</a>
  </div>

  <!-- block -->
  <div class="block">
      <div class="navbar navbar-inner block-header">
          <div class="muted pull-left">在线QQ</div>         
      </div>
      <div class="block-content collapse in">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>名称</th>
                      <th width="450">号码</th>
                      <th width="190">操作</th>
                  </tr>
              </thead>
              <tbody>

                <% @qqs.each do |qq| %>
                  <tr>
                    <td><%= qq.bz %></td>
                    <td><%= qq.number %></td>
                    <td>
                        <a href="<%= edit_admin_qq_path(qq) %>" class="btn btn-primary btn-mini"><i class="icon-pencil icon-white"></i> 编辑</a>
                        &nbsp;&nbsp;
                        <a href="<%= admin_qq_path(qq) %>" rel="nofollow" data-method="delete" data-confirm="确定要删除吗？" class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> 删除</a>

                    </td>                   
                  </tr>
                <% end %>
              
              </tbody>
          </table>
      </div>
  </div>
  <!-- /block -->
</div>  
