<% content_for(:nav)  do %>
  <li>
    <a href="<%= admin_abouts_path %>">走进车快美</a><span class="divider">/</span>
  </li>
  <li>
  <li class="active"><%= @about.title %></li> 
<% end %>

<%= form_for [:admin, @about] do |f| %>

  <% if @about.errors.any? %>
    <div id="error_explanation">
      
      <div class="alert alert-error">
        <button class="close" data-dismiss="alert">&times;</button>
        <strong>错误!</strong> 
        <span>发生了<%= pluralize(@about.errors.count, "") %>个错误！</span>
        <ul>
        <% @about.errors.messages.each do |msg| %>
          <li><%= msg.last.first %></li>
        <% end %>
        </ul>
      </div>

    </div>
  <% end %>

  <% errors = @about.errors.messages %>

  <div class="field">
    <span>
      <h4><%= @about.title %></h4>
    </span>
  </div>

  <!-- <div class="field">
    <%= f.label :状态 %><br />
    启用:<%= f.check_box :state %>
    <span style="color:#f60;"><%= "#{errors[:state].first}" if errors[:state] %></span>
  </div> -->

  <div class="field">
    <%= f.ueditor_text :content %>
    <span style="color:#f60;"><%= "#{errors[:content].first}" if errors[:content] %></span>
  </div>

  <div class="actions">
    <%= f.submit '确定' %>
  </div>
<% end %>
