<% content_for(:nav)  do %>
  <li>
    <a href="<%= admin_abouts_path %>">走进车快美</a> <span class="divider">/</span> 
  </li>
  <li class="active"><%= @about.title %></li>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>模块名称:</b>
  <%= @about.title %>
</p>

<p>
  <b>状态:</b>
  <%= @about.state_name %>
</p>

<p>
  <b>详细内容:</b>
  <%= raw @about.content %>
</p>


<%= link_to '编辑', edit_admin_about_path(@about) %> |
<%= link_to '返回', admin_abouts_path %>