<% content_for(:nav)  do %>
  <li>
    <a href="<%= admin_categories_path %>">产品系列</a><span class="divider">/</span>
  </li>
  <li>
  <li class="active"><%= @category.name %></li> 
<% end %>

<%= form_for [:admin, @category] do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :名称 %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "确定" %>
  </div>
<% end %>