<% content_for(:nav)  do %>
  <li>
    <a href="<%= admin_products_path %>">所有产品</a><span class="divider">/</span>
  </li>
  <li>
  <li class="active"><%= @product.prodname %></li> 
<% end %>

<%= form_for [:admin, @product] do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "") %> 个错误发生了，在保存时:</h2>

      <ul>
      <%# binding.pry %>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% errors = @product.errors.messages %>

  <div class="field">
    <%= f.label :产品名称 %>
    <span><input type="text" name="product[prodname]" value="<%= @product.prodname %>" /></span>
    <span style="color:#f60;"><%= errors[:prodname].first if errors[:prodname] %></span>
  </div>

  <div class="field">
    <%= f.label :所属系列 %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :产品图片 %>
    <%= f.file_field :picture %>
    <span style="color:#f60;"><%= "#{errors[:picture].first}" if errors[:picture] %></span>
  </div>

  <div class="field">
    <%= f.label :描述 %>
    <%= f.ueditor_text :description %>
  </div>

  <div class="actions">
    <%= f.submit "确定" %>
  </div>
<% end %>
