<% content_for(:nav)  do %>
<li>
  <a href="<%= admin_products_path %>">所有产品</a>
  <span class="divider">/</span>
</li>
<% end %>

<div class="row-fluid">

  <div>
    <a href="<%= new_admin_product_path %>" class="btn btn-primary"><i class="icon-plus icon-white"></i> 添加产品</a>
    <a href="<%= admin_categories_path %>" class="btn btn-info"><i class="icon-th-large icon-white"></i> 产品系列</a>
  </div>

  <!-- block -->
  <div class="block">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">所有产品</div>
      <div class="pull-right">
        <span class="badge badge-info">1,462</span>
      </div>
    </div>
    <div class="block-content collapse in">


      <div class="row-fluid">
        <% @products.in_groups_of(3) do |products| %>
        <ul class="thumbnails">
          <% @products.each do |product| %>
            <li class="span4">
              <div class="thumbnail">
                <img style="width: 300px; height: 200px;" src="<%= product.picture %>">
                <div class="caption">
                  <h4><%= link_to product.prodname, admin_product_path(product) %></h4>
                  <p>
                    <a href="<%= edit_admin_product_path(product) %>
                      " class="btn btn-primary"> <i class="icon-pencil icon-white"></i>
                      编辑
                    </a>
                    <a href="<%= admin_product_path(product) %>
                      " rel="nofollow" data-method="delete" data-confirm="确定要删除吗？" class="btn btn-danger"> <i class="icon-remove icon-white"></i>
                      删除
                    </a>
                  </p>
                </div>
              </div>
            </li>
            <% end %>
        </ul>
        <% end %>
      </div>

  </div>
  <!-- /block --> 
</div>