<% title "项目与产品 - 厦门车快美汽车服务有限公司" %>

<div class="ckmnav">
  您的位置：<a href="/">首页</a> > <a href="/service">项目与产品 </a>
</div>

<div class="content clearfix">

  <div class="nleft">
    <h2 class="ntitle">项目与产品</h2>
    <ul class="nul">
      <% @categories.each do |category| %>
      <li <%= raw "class='actived'" if params[:id] == category.id.to_s %>><a href="/service/category/<%= category.id %>"><%= category.name %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="nright">
    
    <div class="bc"><span class="ch">Services</span><span class="sch">项目与产品</span></div>
    
    <div class="wra service">
      
      <% @products.in_groups_of(4, false) do |products| %>
      <ul>
        <% products.each do |product| %>
          <li>
            <div class="ppi">
              <a href="<%= service_path(product) %>"><img style="width: 195px;height:120px;" src="<%= product.picture %>"></a>
              <div class="caption">
                <%= link_to product.prodname, service_path(product) %>
              </div>
            </div>
          </li>
          <% end %>
      </ul>
      <% end %> 

      <div class="page">
        <%= paginate @products %>
      </div>

    </div>

  </div>

</div>