<% title "项目与产品 - #{@product.prodname} - 厦门车快美汽车服务有限公司" %>

<div class="ckmnav">
  您的位置：<a href="/">首页</a> > <a href="/service">项目与产品</a>
</div>

<div class="content clearfix">

  <div class="nleft">
    <h2 class="ntitle">项目与产品</h2>
    <ul class="nul">
      <% @categories.each do |category| %>
      <li <%= raw "class='actived'" if params[:id] == category.id.to_s %>><a href="/service/category/<%= category.id %>"><%= category.name %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="nright">
    
    <div class="bc"><span class="ch">Services</span><span class="sch">项目与产品</span></div>
    
    <div class="wra" id="pshow">
      
      <div class="clearfix">
        <div class="ckmpic">
          <%= image_tag @product.picture, :width => 284, :height => 162 %>
        </div>
        <div class="pname">
          产品名称：<%= @product.prodname %>
        </div>
      </div>
      <div class="pdesc clearfix">
        <%= raw @product.description %>
      </div>

    </div>

  </div>

</div>