<!DOCTYPE html>
<html>
    
    <head>
        <title>管理员中心</title>
        <!-- Bootstrap -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="/assets/styles.css" rel="stylesheet" media="screen">
        <%= stylesheet_link_tag    "admin", :media => "all" %>
        <%= csrf_meta_tags %>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">管理员后台</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> <%= session[:username] %> <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="<%= edit_admin_user_path(session[:user_id]) %>">修改密码</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a tabindex="-1" href="<%= admin_sessions_logout_path %>" data-method="delete">退出</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav">
                            <li <%= raw "class='active'" if params[:controller] == "admin/home" %> >
                                <a href="#">Dashboard</a>
                            </li>
                           <!--  <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Settings <b class="caret"></b>

                                </a>
                                <ul class="dropdown-menu" id="menu1">
                                    <li>
                                        <a href="#">test</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">test</a>
                                    </li>
                                </ul>
                            </li> -->
                            <li <%= raw "class='active'" if params[:controller] == "admin/users" %>>
                                <a href="<%= admin_users_path %>">管理员账号</a>
                                <!-- <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="#">User List</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="#">Search</a>
                                    </li>
                                </ul> -->
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li <%= current_class("home") %> >
                            <a href="/admin"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li <%= current_class("abouts") %> >
                            <a href="/admin/abouts">走进车快美</a>
                        </li>
                        <li <%= current_class("indexsets") %> >
                            <a href="/admin/indexsets">首页设置</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#"><i class="icon-chevron-right"></i> 加盟代理</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/agents">地图设置</a>
                                </li>
                                <li>
                                    <a href="/admin">添加盟友</a>
                                </li>
                                <li>
                                    <a href="/admin/partners">盟友列表</a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="#"><i class="icon-chevron-right"></i> 我要开店</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/admin/products"><i class="icon-chevron-right"></i> 产品与项目</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/products/new">添加产品</a>
                                </li>
                                <li>
                                    <a href="/admin/categories">产品系列</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">车快美学苑</a>
                        </li>
                        <li>
                            <a href="#"> 下载中心</a>
                        </li>
                        <li>
                            <a href="/admin/articles"><span class="badge badge-info pull-right"><%= count_news %></span> 新闻资讯</a>
                        </li>
                    </ul>
                </div>
                
                <!--/span-->
                <div class="span9" id="content">

                    <div class="row-fluid">
                      <div class="navbar">
                        <div class="navbar-inner">
                          <ul class="breadcrumb">
                            <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                            <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                            <li>
                                <a href="/admin">后台首页</a> <span class="divider">/</span>  
                            </li>
                            <%= yield :nav %>
                          </ul>
                        </div>
                      </div>
                    </div>
                
                    <%= yield %>

                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; 厦门车快美汽车服务有限公司</p>
            </footer>
        </div>
        <!--/.fluid-container-->

        <%= javascript_include_tag "application" %>
        <script src="/bootstrap/js/bootstrap.min.js"></script>

    </body>

</html>