<!DOCTYPE html>
<html>
<head>
  <title>厦门车快美汽车服务有限公司</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="http://libs.baidu.com/bootstrap/2.0.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  <script src="http://libs.baidu.com/jqueryui/1.8.22/jquery-ui.min.js "></script>
  <%= javascript_include_tag "frontend" %>
  <%= yield(:head) %>
</head>
<body>

  <div class="header">
    <div class="top"></div>
    <div class="menu">
      <ul>
        <li id="home"><a href="/">首页</a></li>
        <li id="about" <%= current_menu("abouts", "news") %> >
          <a href="/about">走进车快美</a>
          <div class="moremenu">
            <% @abouts.each do |about| %>
              <div class="mli"><a href="/about/<%= about.id %>"><%= about.title %></a></div>
            <% end %>
            <div class="mli"><a href="/news">企业新闻</a></div>
          </div>
        </li>
        <li id="jiameng" <%= current_menu("jiameng", "shenqing") %> >
          <a href="/jiameng">加盟代理</a>
          <div class="moremenu">
            <% @jiamengs.each do |jiameng| %>
              <div class="mli"><a href="/jiameng/<%= jiameng.id %>"><%= jiameng.title %></a></div>
            <% end %>
              <div class="mli"><a href="/partners">盟友风采</a></div>
          </div>
        </li>
        <li id="zs" <%= current_menu("zs") %>>
          <a href="/zs">招商政策</a>
          <div class="moremenu">
            <% @zhaoshangs.each do |zhaoshang| %>
              <div class="mli"><a href="/zs/<%= zhaoshang.id %>"><%= zhaoshang.title %></a></div>
            <% end %>
          </div>
        </li>
        <li id="service" <%= current_menu("service") %>>
          <a href="/service">项目与产品</a>
          <div class="moremenu">
            <% @categories.each do |category| %>
              <div class="mli"><a href="/service/category/<%= category.id %>"><%= category.name %></a></div>
            <% end %>
          <div>
        </li>
        <li>车快美学苑</li>
        <li <%= current_menu("downloads") %>><a href="/downloads">下载中心</a></li>
        <li <%= current_menu("contact") %>><a href="/contact">联系我们</a></li>
      </ul>
    </div>
  </div>

  <%= yield %>

  <div class="footer clearfix">
    <div class="cc">
       <ul>
        <li><a href="/" title="首页">首页</a></li>
        <li>|</li>
        <li>关于车快美</li>
        <li>|</li>
        <li>服务项目</li>
        <li>|</li>
        <li>我要加盟</li>
        <li>|</li>
        <li>我要开店</li>
        <li>|</li>
        <li>下载中心</li>
        <li>|</li>
        <li>企业新闻</li>
        <li>|</li>
        <li>联系我们</li>
      </ul>
    </div>
    <div>
      版权所有 Copyright ©2013 厦门车快美汽车服务有限公司
    </div>
  </div>
</body>
</html>
