<%= form_for [:admin, @indexset] do |f| %>

  <% if @indexset.errors.any? %>
    <div id="error_explanation">
      
      <div class="alert alert-error">
        <button class="close" data-dismiss="alert">&times;</button>
        <strong>错误!</strong> 
        <span>发生了<%= pluralize(@indexset.errors.count, "") %>个错误！</span>
        <ul>
        <% @indexset.errors.messages.each do |msg| %>
          <li><%= msg.last.first %></li>
        <% end %>
        </ul>
      </div>

    </div>
  <% end %>

  <% errors = @indexset.errors.messages %>

  <br />
  <div class="field">
    <%= f.label :模块名称 %>
    <span><input type="text" name="indexset[module]" value="<%= @indexset.module %>" /></span>
    <span style="color:#f60;"><%= errors[:module].first if errors[:module] %></span>
  </div>

  <br />
  <div class="field">
    <%= f.label :标题 %>
    <%= f.text_field :title %>
    <span style="color:#f60;"><%= errors[:title].first if errors[:title] %></span>
  </div>

  <br />
  <div class="field">
    <%= f.label :图片 %>
    <%= f.file_field :picture %>
    <span style="color:#f60;"><%= "#{errors[:picture].first}" if errors[:picture] %></span>
  </div>

  <br />
  <div class="field">
    <%= f.label :链接地址 %>
    <%= f.text_field :url %>
    <span style="color:#f60;"><%= "#{errors[:url].first}" if errors[:url] %></span>
  </div>

  <div class="actions">
    <%= f.submit "确 定" %>
  </div>
<% end %>
