
<% content_for(:nav)  do %>
  <li>
    <a href="<%= admin_indexsets_path %>">首页模块设置</a>
  </li> 
<% end %>

<div class="row-fluid">

<!--   <div>
     <a href="<%= new_admin_indexset_path %>" class="btn btn-primary"><i class="icon-plus icon-white"></i> 添加模块设计</a>
  </div> -->

  <!-- block -->
  <div class="block">
      <div class="navbar navbar-inner block-header">
          <div class="muted pull-left">首页模块设置</div>         
      </div>
      <div class="block-content collapse in">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <td width="55">图片</td>
                      <td>模块名称</td>
                      <th>标题</th>
                      <td width="180">url</td>
                      <th width="190">操作</th>
                  </tr>
              </thead>
              <tbody>

                <% @indexsets.each do |indexset| %>
                  <tr>
                    <td><%= image_tag(indexset.picture, {:width => "50", :height => "50"}) %></td>
                    <td><%= indexset.module %></td>
                    <td><%= indexset.title %></td>
                    <td><%= indexset.url %></td>
                    <td>
                      <a href="<%= admin_indexset_path(indexset) %>" class="btn btn-mini"><i class="icon-eye-open"></i> 浏览</a>
                        &nbsp;
                        <a href="<%= edit_admin_indexset_path(indexset) %>" class="btn btn-primary btn-mini"><i class="icon-pencil icon-white"></i> 编辑</a>
                        <!-- &nbsp;
                        <a href="<%= admin_indexset_path(indexset) %>" rel="nofollow" data-method="delete" data-confirm="确定要删除吗？" class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> 删除</a> -->

                    </td>                   
                  </tr>
                <% end %>
              
              </tbody>
          </table>
      </div>
  </div>
  <!-- /block -->
</div>  