<p id="notice"><%= notice %></p>

<p>
  <b>模块名称:</b>
  <%= @indexset.module %>
</p>

<p>
  <b>标题:</b>
  <%= @indexset.title %>
</p>

<p>
  <b>图片:</b>
  <%= image_tag(@indexset.picture) %>
</p>

<p>
  <b>链接地址:</b>
  <%= raw @indexset.url %>
</p>


<%= link_to 'Edit', edit_admin_indexset_path(@indexset) %> |
<%= link_to 'Back', admin_indexset_path %>